/* metamorphous-regular - latin */
@font-face {
  font-family: 'Metamorphous';
  font-style: normal;
  font-weight: 400;
  src: local('Metamorphous'),
       url('../lordudice/fonts/metamorphous-v11-latin-regular.woff2') format('woff2') /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* im-fell-english-regular - latin */
@font-face {
  font-family: 'IM Fell English';
  font-style: normal;
  font-weight: 400;
  src: local('IM FELL English Roman'), local('IM_FELL_English_Roman'),
       url('../lordudice/fonts/im-fell-english-v10-latin-regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* redressed-regular - latin */
@font-face {
  font-family: 'Redressed';
  font-style: normal;
  font-weight: 400;
  src: local('Redressed Regular'), local('Redressed-Regular'),
       url('../lordudice/fonts/redressed-v11-latin-regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* metal-mania-regular - latin */
@font-face {
  font-family: 'Metal Mania';
  font-style: normal;
  font-weight: 400;
  src: local('Metal Mania'), local('MetalMania-Regular'),
       url('../lordudice/fonts/metal-mania-v10-latin-regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* amarante-regular - latin */
@font-face {
  font-family: 'Amarante';
  font-style: normal;
  font-weight: 400;
  src: local('Amarante Regular'), local('Amarante-Regular'),
       url('../lordudice/fonts/amarante-v8-latin-regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* jim-nightshade-regular - latin */
@font-face {
  font-family: 'Jim Nightshade';
  font-style: normal;
  font-weight: 400;
  src: local('Jim Nightshade'), local('JimNightshade-Regular'),
       url('../lordudice/fonts/jim-nightshade-v8-latin-regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* eater-regular - latin */
@font-face {
  font-family: 'Eater';
  font-style: normal;
  font-weight: 400;
  src: local('Eater'), local('Eater-Regular'),
       url('../lordudice/fonts/eater-v9-latin-regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* almendra-regular - latin */
@font-face {
  font-family: 'Almendra';
  font-style: normal;
  font-weight: 400;
  src: local('Almendra Regular'), local('Almendra-Regular'),
       url('../lordudice/fonts/almendra-v13-latin-regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* audiowide-regular - latin */
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: url('../lordudice/fonts/Audiowide-Regular.ttf') format('truetype') /* Chrome 36+, Opera 23+, Firefox 39+ */
}
/* josefin-sans-regular - latin */

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../lordudice/fonts/josefin-sans-v25-latin-regular.woff2') format('woff2') /* Chrome 36+, Opera 23+, Firefox 39+ */
}

/* unifrakturcook-700 - latin */
@font-face {
  font-family: 'UnifrakturCook';
  font-style: normal;
  font-weight: 700;
  src: url('../lordudice/fonts/unifrakturcook-v19-latin-700.woff2') format('woff2') /* Chrome 36+, Opera 23+, Firefox 39+ */
}
/* black-ops-one-regular - latin */
@font-face {
  font-family: 'Black Ops One';
  font-style: normal;
  font-weight: 400;
  src: url('../lordudice/fonts/black-ops-one-v20-latin-regular.woff2') format('woff2') /* Chrome 36+, Opera 23+, Firefox 39+ */
}
/* carter-one-regular - latin */
@font-face {
  font-family: 'Carter One';
  font-style: normal;
  font-weight: 400;
  src: url('../lordudice/fonts/carter-one-v17-latin-regular.woff2') format('woff2') /* Chrome 36+, Opera 23+, Firefox 39+ */
}